{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Detalle del Producto</h1>
                <a class="btn btn-outline-primary" href="{% url 'website:index' %}" role="button"><i
                        class="fa-solid fa-circle-left"></i> Regresar</a>
                <div class="container" id="contenedor">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="imagenes-detalle" src="{{ producto.imagen.url }}" class="img-fluid"
                                     alt="Imagen del Producto">
                            </div>
                            <div class="col-sm-8">
                                <h2>{{ producto.nombre }}</h2>
                                <p>{{ producto.descripcion }}</p>
                                <p>Precio: ${{ producto.precio }}</p>
                                <p> {{ producto.detalle }}</p>
                                <p>Categoria: {{ producto.categoria }}</p>
                                <a class="btn btn-outline-primary" href="{% url 'dashboard:update' producto.id %}"
                                   role="button"><i
                                        class="fa-solid fa-pencil"></i> Editar</a>
                                <a class="btn btn-outline-danger" href="{% url 'dashboard:delete' producto.id %}"
                                   role="button"><i
                                        class="fa-solid fa-trash"></i> Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="botones-finales">
                    <a class="btn btn-outline-success" href="#"> <i class="fa-solid fa-plus"></i> Ordenar </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}