{% extends 'baseDashboard.html' %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Detalle del Producto</h1>
                <a class="btn btn-outline-warning" href="{% url 'website:index' %}" role="button">Website</a>
                <a class="btn btn-outline-primary" href="{% url 'dashboard:index' %}" role="button">Regresar</a>
                <div class="card" style="width: 18rem; margin-top: 20px">
                    <img class="card-img-top" src="{{ producto.imagen.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.detalle }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}