{% extends 'baseDashboard.html' %}
{% block main %}
    <div class="container" id="dashboard-titulo">
        <div class="row">
            <div class="col">
                <h1>Dashboard Administrativo</h1>
                <a class="btn btn-outline-warning" href="{% url 'website:index' %}" role="button">Website</a>
                <a class="btn btn-outline-primary" href="#" role="button">Nuevo Producto</a>
                <div class="table-dashboard">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for producto in productos %}
                            <tr>
                                <th scope="row">{{ producto.id }}</th>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.precio }}</td>
                                <td><img class="img-thumbnail" src="{{ producto.imagen.url }}"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}