{% extends 'baseDashboard.html' %}
{% block main %}
    <div class="container" id="dashboard-titulo">
        <div class="row">
            <div class="col">
                {% block title %}
                    <h1>Dashboard Administrativo</h1>
                {% endblock %}
                <a class="btn btn-outline-warning" href="{% url 'website:index' %}" role="button"><i class="fa-solid fa-house"></i></a>
                <a class="btn btn-outline-primary" href="{% url 'dashboard:create' %}" role="button"><i class="fa-solid fa-plus"></i> Nuevo Producto</a>
                <div class="table-dashboard">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for producto in productos %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.precio }}</td>
                                <td><img class="img-thumbnail" src="{{ producto.imagen.url }}"></td>
                                <td><a class="btn btn-success" href="{% url 'dashboard:update' producto.pk %}" role="button"><i class="fa-solid fa-pen"></i> Editar</a></td>
                                <td><a class="btn btn-primary" href="{% url 'dashboard:detail' producto.pk %}" role="button"><i class="fa-solid fa-circle-info"></i> Detalles</a></td>
                                <td><a class="btn btn-danger" href="{% url 'dashboard:delete' producto.pk %}" role="button"><i class="fa-solid fa-trash"></i> Borrar</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}